.git
.gitignore
.idea
.vscode
.tool-versions
.ruby-version
.rspec
.rubocop.yml
.ruby-lsp
.env
.env_example
core
views
db/*.sqlite3
db/*.sqlite3-*
log/*
tmp/*
storage/*
public/assets
vendor/bundle
node_modules
