@import "bootstrap";

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

.form-signin .form-floating {
  margin-bottom: 10px;
}

.form-signin .form-control {
  position: relative;
  height: auto;
  padding: 10px;
  box-sizing: border-box;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

$gray-medium-light: #EAEAEA;

footer{
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $gray-medium-light;
  color: $gray-medium-light;
  a{
    color: gray;
    &:hover{
      color: #2E2F30;
    }
  }
  small{
    float: left;
  }
  ul{
    float: right;
    list-style: none;
  }
  li{
    float: left;
    margin-left: 15px;
  }
}
